.container {
  padding: 80px 24px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* games__header */
.content__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.content__description--title {
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 52px;
  margin: 40px;
}
.overlay {
  background-image: url(https://cdn.vectorstock.com/i/preview-1x/44/85/gamer-tournament-night-cartoon-vector-47484485.jpg);
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;

  width: 100%;
  height: 350px;
  object-fit: contain;
  position: absolute;
  inset: 0px;
  z-index: 1;
}

#games__header.fa-search {
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: 0px;
  z-index: 10000;
  padding: 0px 20px 0px 8px;
  color: rgb(96, 48, 177);
  font-size: 32px;
}

/* games */
.games__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter{
  padding: 10px;
  margin-left: 20px;
}
.games-list {
  display: flex;
  flex-wrap: wrap;
}

.game {
  width: calc((100% / 3));
}


.game__card{
  background-color: #202020;
  border-radius: 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  margin: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  height: 400px;

}


.game__img{
  height: 250px;
  object-fit: contain;
}
.game__content{
  padding: 0 24px;
}
.game__content--top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.game__platform{
  margin-right: 6px; 
}

.rating{
  font-size: 14px;
  padding: 0px 4px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  border: 1px solid;
  
}

.rating-green {
  color: green;
  border-color: green;
}

.rating-yellow {
  color: yellow;
  border-color: yellow;
}

.rating-red {
  color: red;
  border-color: red;
}

