/* games */
.content__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.content__description--title {
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 52px;
  margin: 40px;
}
.overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  inset: 0px;
}

.banner__img {
  height: 400px;
  object-fit: fill;
  z-index: 1;
}

#games .fa-search {
  z-index: 100;
  position: absolute;

  bottom: 15px;
  right: 0px;
  z-index: 10000;
  padding: 0px 20px 0px 8px;
  color: rgb(96, 48, 177);
  font-size: 32px;
}
