.container {
  padding: 80px 24px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* games__header */
.content__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.content__description--title {
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 52px;
  margin: 40px;
}
.overlay {
  background-image: url(https://cdn.vectorstock.com/i/preview-1x/44/85/gamer-tournament-night-cartoon-vector-47484485.jpg);
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;

  width: 100%;
  height: 350px;
  object-fit: contain;
  position: absolute;
  inset: 0px;
  z-index: 1;
}

#games__header.fa-search {
  z-index: 100;
  position: absolute;
  bottom: 15px;
  right: 0px;
  z-index: 10000;
  padding: 0px 20px 0px 8px;
  color: rgb(96, 48, 177);
  font-size: 32px;
}

/* games */
.games__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter{
  padding: 10px;
  margin-left: 20px;
}
.games-list {
  display: flex;
  flex-wrap: wrap;
}

.game {
  width: calc((100% / 3));
}


.game__card{
  background-color: #202020;
  border-radius: 12px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
  margin: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  height: 400px;

}

<<<<<<< HEAD

.game__img{
  height: 250px;
  object-fit: contain;
}
.game__content{
  padding: 0 24px;
}
.game__content--top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

.game__platform{
  margin-right: 6px; 
}

.rating{
  font-size: 14px;
  padding: 0px 4px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  border: 1px solid;
  
}

.rating-green {
  color: green;
  border-color: green;
}

.rating-yellow {
  color: yellow;
  border-color: yellow;
}

.rating-red {
  color: red;
  border-color: red;
}

=======
.games__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.loader {
  width: fit-content;
  font-size: 48px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  background: linear-gradient(#000 0 0) left, linear-gradient(#000 0 0) right;
  background-repeat: no-repeat;
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
  color: #7342d6;
}
.loader::before {
  content: "Loading";
}
.loader::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: linear-gradient(90deg, #000 4px, #0000 0 calc(100% - 4px), #000 0)
      bottom / 22px 20px,
    linear-gradient(90deg, red 4px, #0000 0 calc(100% - 4px), red 0) bottom 10px
      left 0/22px 6px,
    linear-gradient(#000 0 0) bottom 3px left 0 /22px 8px,
    linear-gradient(#000 0 0) bottom 0 left 50%/8px 16px;
  background-repeat: no-repeat;
  animation: l9-1 2s infinite;
}
@keyframes l9-0 {
  0%,
  25% {
    background-size: 50% 100%;
  }
  25.1%,
  75% {
    background-size: 0 0, 50% 100%;
  }
  75.1%,
  100% {
    background-size: 0 0, 0 0;
  }
}
@keyframes l9-1 {
  25% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  25.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: 0;
  }
  50% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75% {
    background-position: bottom, bottom 54px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
  75.1% {
    background-position: bottom, bottom 10px left 0, bottom 3px left 0,
      bottom 0 left 50%;
    left: calc(100% - 22px);
  }
}
>>>>>>> refs/remotes/origin/main
