@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #2e2f34;
  color: white;
}
h1 {
  line-height: 1.25;
}

nav {
  height: 80px;
  display: flex;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: white;
  transition: all 300ms ease;
}
a:hover {
  color: #6030b1;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}
input {
  width: 100%;
}

.purple {
  color: #6030b1;
}

.btn {
  width: 200px;
  margin-left: 20px;
  font-size: 40px;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #6030b1;
  background-color: #6030b1;
  box-shadow: 7px 7px 14px rgba(134, 93, 204, 0.3);
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  background-color: #ff328f;
  border: 1px solid #ff328f;
}

/* navbar */

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 100;
}

.logo__img {
  width: 50px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__title {
  padding-left: 12px;
}
.nav__links {
  margin: 52px 0;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
}

/* landing */

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 24px;
}

.header__description {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.header__description--title {
  font-size: 54px;
  padding-bottom: 40px;
  text-align: center;
}
.header__searchbar {
  display: flex;
}

.header__description--subtitle {
  font-size: 28px;
  padding-bottom: 40px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

.header__input {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #0a1f44;
  color: #0a1f44;
  display: inline-block;
  height: 70px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  font-size: 24px;
  padding-left: 25px;
}
.header__img--wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  z-index: 2;
}

@media (max-width: 768px) {
  .nav__links {
    display: none;
  }
  .nav__container {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .header__description--title {
    font-size: 32px;
  }
  .header__description--subtitle {
    font-size: 18px;
  }

  .header__searchbar {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .btn {
    width: 100%;
    margin: 20px auto 40px auto;
  }
  input::placeholder {
    font-size: 16px;
  }
}
